.container{
    display: flex;
    padding: 100px 100px;
    background-image: url("https://media.istockphoto.com/id/1370962549/vector/violet-purple-pink-and-navy-blue-defocused-blurred-motion-gradient-abstract-background-vector.jpg?s=612x612&w=0&k=20&c=A6ArKVzCqEArn9ORyAYm78kbKyI47t2U2QWuHnwUkVg=");
    background-size: cover;
}

.nav{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    margin-left: 250px;
    padding: 0px;
    height: 12%;
    border-radius: 25PX;
    background-color: black;
    color: white;

    
}
.sub{
    
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    width: 40%;
    
    border-radius: 25PX;
    background-color: black;
    max-height: 980px;
}
.main-main{
    /* background-color: aquamarine; */
    width: 80%;
    min-height: 1000px;
    
}
.main{
    /* display: flex;
    justify-content: center; */
    background-color: aquamarine;
    min-height:900px ;
    border-radius: 25PX;
    background-color: black;
    padding:20px 50px;

}
.s{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    /* justify-content: center; */ 
    align-items: center;
    
}
/* h3,p{
    margin-left: 20px;
} */
input{
    width: 90%;
    border: 0;
    margin-left:23px ;
    /* margin-bottom: 15px; */
    
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 9px;
    outline: none;

}


.butt6{
    color: #000;
   
}
button::hover{
    background: linear-gradient(to right, #f64b59, #e02973)
}
