.about-button
{
  margin:10px 0px ;
    display: flex;
    border:solid rgb(250 204 21 / var(--tw-bg-opacity, 1)) 2px ;
     border-radius:50px;
    
  /* opacity: 100%; */
  background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(250 204 21 / var(--tw-bg-opacity, 1)) 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.5s ease;
}
.about-button:hover
{
  background-position: right bottom;
}
/* .about-button a {
  @apply no-underline;
} */
h1,p{
    /* font-family: satoshi; */
    margin:8px 0px ;
}
.time-line
{
    /* display: flex;
    flex-direction: column; */
    padding: 0px 40px;
    border-left: 1px solid gray;
    margin-left: -21px;
   
}
.about-button2
{
    display: flex;
    width: 300px;
    border:solid rgb(250 204 21 / var(--tw-bg-opacity, 1)) 2px ;
    border-radius:50px;
    margin:10px 0px ;
    background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(250 204 21 / var(--tw-bg-opacity, 1)) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.5s ease;
}
.about-button2:hover
{
    background-position: right bottom;
}
