/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
}

/* body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background: #f4b942; 
  clip-path: polygon(0 0, 20% 0, 40% 100%, 0 100%);
  z-index: 1;
}  */
