body {
  margin: 0;
     font-family: 'Inter', system-ui, -apple-system, sans-serif;
  /* background-color: black; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  cursor: none;
  /* overflow-y: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-button {
  display: flex;
  border-radius: 50px;
  color: rgba(31, 41, 55, 0); /* Make text invisible */
  background: linear-gradient(
    to right,
    rgba(31, 41, 55, 0) 50%, /* Transparent gray */
    rgba(255, 180, 0, 1) 50% /* Solid yellow */
  );
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.3s ease, color 0.2s ease;
  z-index: 10;
}

.home-button:hover {
  color: white;
  /* background-color:rgba(255, 180, 0, 1)   ; */
  background-position: right bottom;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar but keep scrolling */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #555 #222; /* thumb and track color */
  overflow-y: scroll; /* always show scrollbar (prevents shifting) */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* size of scrollbar */
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #222; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* scrollbar color */
  border-radius: 10px; /* round edges */
  border: 2px solid #222; /* space between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* on hover */
}
